# node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Bundle artifact
*.jsbundle

# Dist files
dist/

# Extra files
*.jsbundle
*.tsbuildinfo
.DS_Store
.history
.jest
.vscode
.idea
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#typeorm migrations
migration